@charset "UTF-8";body{background:#f8f8f8}h1{padding-bottom:20px}#aboutImg{margin-left:auto;margin-right:auto}#footer nav{border-color:#f8f8f8;border-radius:0}.footer_text small{padding-left:300px;padding-bottom:60px;margin-bottom:60px}ul li{display:inline}#main nav{border-color:#f8f8f8;border-radius:0}#menu.nav-pills a{height:110px;font-size:36px}#menu{font-family:Arial,sans-serif;font-weight:700;text-transform:uppercase;list-style-type:none;font-size:13px}#menu a{text-align:center;color:#777;text-decoration:none}#main.container nav.navbar ul#menu.nav li.active a,#menu a:hover{color:#555;background-color:#e7e7e7}#menu_wrapper ul{margin-left:12px}#menu_wrapper{padding:0 16px 0 0;background:url(images/grey.png) no-repeat right}#menu_wrapper div{float:left;height:44px;width:12px;background:url(images/grey.png) no-repeat left}.center #aboutImg{display:block;margin-left:auto;margin-right:auto}#main{background:#fff;width:900px;display:block;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;padding-top:20px;padding-right:0;padding-bottom:0;padding-left:0}a img{border:0}.example{border:1px solid #CCC;background:#f2f2f2;padding:10px}ul{list-style-image:url(list-style.gif)}pre{font-family:"Lucida Console","Courier New",Verdana;border:1px solid #CCC;background:#f2f2f2;padding:10px}code{font-family:"Lucida Console","Courier New",Verdana;margin:0;padding:0}#gallery{padding:30px;background:#e1eef5}#descriptions{position:relative;height:50px;background:#EEE;margin-top:10px;width:640px;padding:10px;overflow:hidden}#descriptions .ad-image-description{position:absolute}#descriptions .ad-image-description .ad-description-title{display:block}

.me_space:hover {
	background-color: #e7e7e7;
}

.aboutme {
	text-align: center;
	padding-top:  40px;
	padding-bottom: 40px;
}

.span_button {
	  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: url('images/transparent.gif');
}

.iframe {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer_text{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
  
