/* Empty. Add your own CSS if you like */

.tracking-form {

	padding-top: 10%;
}

.button.button-form.button-full{
	margin-top: 5%;
}

.camera-upload {
	width: 170px;
	margin-right: auto;
	margin-left: auto;
}


.bar-footer {
	height: 15%;
}