/* Empty. Add your own CSS if you like */

.tracking-form {

	padding-top: 10%;
}

.button.button-form.button-full{
	margin-top: 10%;
}

.camera-upload {
	width: 170px;
	margin-right: auto;
	margin-left: auto;
}

.footer-button {
	width: 25%;
}

.bar-footer {
	height: 20%;
}